USE [master]
GO
/****** Object:  Database [QLTL]    Script Date: 05/16/2015 20:38:18 ******/
CREATE DATABASE [QLTL] ON  PRIMARY 
( NAME = N'QLTL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLTL.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLTL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTL]
GO
/****** Object:  Table [dbo].[TaiLieu]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieu](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTaiLieu] [nchar](15) NOT NULL,
	[TacGia] [nvarchar](500) NULL,
	[TieuDe] [nvarchar](250) NOT NULL,
	[Nam] [numeric](4, 0) NULL,
	[TomTat] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[File] [nvarchar](250) NULL,
	[URL] [nvarchar](250) NULL,
	[DOI] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiLieu] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangWeb]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangWeb](
	[MaTL] [int] NOT NULL,
	[ToChuc] [nvarchar](150) NULL,
	[Ngay] [numeric](2, 0) NULL,
	[Thang] [numeric](2, 0) NULL,
	[NgayTruyCap] [date] NULL,
 CONSTRAINT [PK_TrangWeb] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CayDanhMuc]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CayDanhMuc](
	[MaDMCha] [int] NOT NULL,
	[MaDMCon] [int] NOT NULL,
 CONSTRAINT [PK_CayDanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDMCon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiBao]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiBao](
	[MaTL] [int] NOT NULL,
	[TapChi] [nvarchar](150) NULL,
	[Trang] [nvarchar](20) NULL,
	[Volume] [nchar](10) NULL,
	[Issue] [nchar](10) NULL,
 CONSTRAINT [PK_BaiBao] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaTL] [int] NOT NULL,
	[NhaXB] [nvarchar](100) NULL,
	[TaiBan] [nchar](10) NULL,
	[ThanhPho] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proceeding]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proceeding](
	[MaTL] [int] NOT NULL,
	[TenHoiNghi] [nvarchar](150) NULL,
	[ThanhPho] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proceeding] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMTL]    Script Date: 05/16/2015 20:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMTL](
	[MaDM] [int] NOT NULL,
	[MaTL] [int] NOT NULL,
 CONSTRAINT [PK_DMTL] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC,
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_TrangWeb_TaiLieu]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[TrangWeb]  WITH CHECK ADD  CONSTRAINT [FK_TrangWeb_TaiLieu] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TaiLieu] ([MaTL])
GO
ALTER TABLE [dbo].[TrangWeb] CHECK CONSTRAINT [FK_TrangWeb_TaiLieu]
GO
/****** Object:  ForeignKey [FK_CayDanhMuc_DanhMuc]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[CayDanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_CayDanhMuc_DanhMuc] FOREIGN KEY([MaDMCon])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[CayDanhMuc] CHECK CONSTRAINT [FK_CayDanhMuc_DanhMuc]
GO
/****** Object:  ForeignKey [FK_CayDanhMuc_DanhMuc1]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[CayDanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_CayDanhMuc_DanhMuc1] FOREIGN KEY([MaDMCha])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[CayDanhMuc] CHECK CONSTRAINT [FK_CayDanhMuc_DanhMuc1]
GO
/****** Object:  ForeignKey [FK_BaiBao_TaiLieu]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[BaiBao]  WITH CHECK ADD  CONSTRAINT [FK_BaiBao_TaiLieu] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TaiLieu] ([MaTL])
GO
ALTER TABLE [dbo].[BaiBao] CHECK CONSTRAINT [FK_BaiBao_TaiLieu]
GO
/****** Object:  ForeignKey [FK_Sach_TaiLieu]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TaiLieu] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TaiLieu] ([MaTL])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TaiLieu]
GO
/****** Object:  ForeignKey [FK_Proceeding_TaiLieu]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[Proceeding]  WITH CHECK ADD  CONSTRAINT [FK_Proceeding_TaiLieu] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TaiLieu] ([MaTL])
GO
ALTER TABLE [dbo].[Proceeding] CHECK CONSTRAINT [FK_Proceeding_TaiLieu]
GO
/****** Object:  ForeignKey [FK_DMTL_DanhMuc]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[DMTL]  WITH CHECK ADD  CONSTRAINT [FK_DMTL_DanhMuc] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[DMTL] CHECK CONSTRAINT [FK_DMTL_DanhMuc]
GO
/****** Object:  ForeignKey [FK_DMTL_TaiLieu]    Script Date: 05/16/2015 20:38:22 ******/
ALTER TABLE [dbo].[DMTL]  WITH CHECK ADD  CONSTRAINT [FK_DMTL_TaiLieu] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TaiLieu] ([MaTL])
GO
ALTER TABLE [dbo].[DMTL] CHECK CONSTRAINT [FK_DMTL_TaiLieu]
GO
